<div class="card profile-card-4 mt-4">
  <h1 class="d-flex justify-content-center mt-2">Registro de contrato</h1>
  <hr>
  <form [formGroup] = "registerForm">
  <div class="form-row d-flex justify-content-center">
    <div class="form-group col-md-6">
      <label>Razão Social do Contratado</label>
      <input type="text" class="form-control"
      [ngClass]="{'is-invalid': registerForm.get('company_name_hired').errors && registerForm.get('company_name_hired').touched}"
      formControlName = "company_name_hired" placeholder="Insira a razão social do contratado">
      <div *ngIf = "registerForm.get('company_name_hired').hasError('required') && registerForm.get('company_name_hired').touched" class="invalid-feedback">
        Razão social do contratado é obrigatório.
      </div>
    </div>
    <div class="form-group col-md-4">
      <label>CNPJ do Contratado</label>
      <input type="text" class="form-control" mask="00.000.000/0000-00"
      [ngClass]="{'is-invalid': registerForm.get('cnpj_hired').errors && registerForm.get('cnpj_hired').touched}"
      formControlName = "cnpj_hired" placeholder="Insira o CNPJ do contratado">
      <div *ngIf = "registerForm.get('cnpj_hired').hasError('required') && registerForm.get('cnpj_hired').touched" class="invalid-feedback">
        CNPJ do contratado é obrigatório.
      </div>
    </div>
    <div class="form-group col-md-6">
      <label>Endereço do Contratado</label>
      <input type="text" class="form-control" 
      [ngClass]="{'is-invalid': registerForm.get('address_hired').errors && registerForm.get('address_hired').touched}"
      formControlName = "address_hired" placeholder="Insira o endereço do contratado">
      <div *ngIf = "registerForm.get('address_hired').hasError('required') && registerForm.get('address_hired').touched" class="invalid-feedback">
        Endereço do contratado é obrigatório.
      </div>
    </div>
    <div class="form-group col-md-4">
      <label>Telefone do Contratado</label>
      <input type="text" class="form-control" mask="(00) 0000-0000"
      [ngClass]="{'is-invalid': registerForm.get('telephone_hired').errors && registerForm.get('telephone_hired').touched}"
      formControlName = "telephone_hired" placeholder="Insira o telefone do contratado">
      <div *ngIf = "registerForm.get('telephone_hired').hasError('required') && registerForm.get('telephone_hired').touched" class="invalid-feedback">
        Telefone do contratado é obrigatório.
      </div>
    </div>
    <div class="form-group col-md-4">
      <label>Tipo de Contrato</label>
      <select name="select" class="form-control" [ngClass]="{'is-invalid': registerForm.get('type_contract').errors && registerForm.get('type_contract').touched}"
      formControlName = "type_contract">
        <option value="" selected>Selecione</option>
        <option value="Empréstimos">Empréstimos</option>
        <option value="Seguro">Seguro</option>
        <option value="Arrendamento">Arrendamento</option>
        <option value="Locação de Serviços">Locação de Serviços</option>
        <option value="Locação de Equipamentos.">Locação de Equipamentos</option>
      </select>
      <div *ngIf = "registerForm.get('type_contract').hasError('required') && registerForm.get('type_contract').touched" class="invalid-feedback">
        Tipo de contrato é obrigatório.
      </div>
    </div>
    <div class="form-group col-md-3">
      <label>Data de Pagamento</label>
      <input type="text" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat : 'DD/MM/YYYY'}" 
      [ngClass]="{'is-invalid': registerForm.get('date_payment').errors && registerForm.get('date_payment').touched}"
      formControlName = "date_payment" placeholder="Insira a data de pagamento">
      <div *ngIf = "registerForm.get('date_payment').hasError('required') && registerForm.get('date_payment').touched" class="invalid-feedback">
        Data de pagamento é obrigatória.
      </div>
    </div>
    <div class="form-group col-md-2">
      <label>Valor Total</label>
      <input type="text" class="form-control" currencyMask [options] = "{ prefix: 'R$ ', thousands: '.' , decimal: ',' , align: 'left' }" 
      [ngClass]="{'is-invalid': registerForm.get('value').errors && registerForm.get('value').touched}"
      formControlName = "value" placeholder="Insira o valor total">
      <div *ngIf = "registerForm.get('value').hasError('required') && registerForm.get('value').touched" class="invalid-feedback">
        Valor total é obrigatório.
      </div>
    </div>
    <div class="form-group col-md-4">
      <label>Tempo de Carência</label>
      <input type="text" class="form-control" 
      [ngClass]="{'is-invalid': registerForm.get('grace_period').errors && registerForm.get('grace_period').touched}"
      formControlName = "grace_period" placeholder="Insira o tempo de carência">
      <div *ngIf = "registerForm.get('grace_period').hasError('required') && registerForm.get('grace_period').touched" class="invalid-feedback">
        Tempo de carência é obrigatório.
      </div>
    </div>
    <div class="form-group col-md-4">
      <label>Vigência</label>
      <input type="text" class="form-control" 
      [ngClass]="{'is-invalid': registerForm.get('vigencia').errors && registerForm.get('vigencia').touched}"
      formControlName = "vigencia" placeholder="Insira a vigência do Contrato">
      <div *ngIf = "registerForm.get('vigencia').hasError('required') && registerForm.get('vigencia').touched" class="invalid-feedback">
        Vigencia do contrato é obrigatório.
      </div>
    </div>
  </div>
  <div class="form row mt-4">
    <div class="form-group col-md-4 offset-md-2">
      <button class="btn btn-ln btn-success btn-block" [disabled] = "!registerForm.valid" (click)="registrationContract()"><i class="fas fa-save"></i>&nbsp;Salvar</button>
    </div>
    <div class="form-group col-md-4 ml-2 mb-4">    
      <button class="btn btn-ln btn-danger btn-block" routerLink="/dashboard" ><i class="fas fa-window-close"></i>&nbsp;Cancelar</button>
    </div>
  </div> 
</form>
</div>